<div class="col-sn-18 col-sm-offset-1">    
   <p class="panel"> 
   <div ng-show="loggedIn">
        <div class="row" ng-controller="MainController">
            <textarea ng-model="newWaste"
                ng-keypress="sendWaste($event)"
                class="form-control"
                placeholder="Nueva Publicacion.... presiona Enter">
            </textarea>
        </div>
        
        <div class="row">
            <button class="button" ngf-select="upload($file,$invalidFiles)" ng-model="file" name="file" ngf-pattern=".jpg" nfg-accept=".jpg">
                Subir una imagen
            </button>
        </div>        
        <div class="row">
            <button class="button" ngf-select="upload($file,$invalidFiles)" ng-model="file" name="file" ngf-pattern=".mp4" accept=".mp4">
                Subir un video
            </button>
        </div>        
        <div class="row">
            <button class="button" ngf-select="upload($file,$invalidFiles)" ng-model="file" name="file" ngf-pattern=".pdf" accept=".pdf">
                Subir un pdf
            </button>
        </div>
    </p>
    </div>
    <div class="row">
        <a href="{{file.path}}" target="_blank">{{ file.name }} Open</a>
    </div>
    <div class="row" ng-controller="MainController" >
        <table class="waste-section">
            <tr> <a ng-if="incomingWastes.length > 0" ng-click="setNewWastes()">Hay {{difference}} nuevas publicaciones</a></tr>
            <tr ng-repeat="waste in wastes">
                <td>{{waste.user}}
                    <image ng-src="{{waste.userImage}}" class="ing-responsive">
                </td>
                
                <td
                    <strong>{{waste.date | date: 'MM/dd/yyyy hh:mm'}}</strong> <br>
                    <p>{{waste.content}}</p>
                    
                </td>
            </tr>
        </table> 
     </div>
</div>